<section>
    <div class="container">
        <table class="table mt-5 table-design">
            <thead>
                <tr>
                    <th scope="col">Items</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quatity</th>

                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>

                    <td><img style="width: 70px;height: 70px;" class="img-border"
                            src="/product-images/{{this.product._id}}.jpg" alt="">
                    </td>
                    <td>
                        <h5><i>{{this.product.Name}}</i></h5></b>
                    </td>
                    <td>
                        <h5>{{this.product.Price}}/-</h5>
                    </td>

                    <td>
                        <button class="cart-items-count mr-3 text-light"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                        <b><span id="{{this.product._id}}">{{this.quantity}}</span></b>
                        <button class="cart-items-count ml-3 text-light"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                    </td>
                    <td>
                        <button class="btn btn-danger"
                            onclick="removeThisProduct('{{this._id}}','{{this.product._id}}')">Remove</button>
                    </td>
                </tr>

                {{/each}}


            </tbody>
        </table>
        <hr>
        <div class="float-right pr-5">
            <h3 class="float-left mr-5">Total: <span id="total">{{totalValue}}/-</span></h3><br>
            <a href="/place-order" class="btn text-light" style="background-color: darkorchid;">Place Order</a>
        </div>
    </div>

</section>
<style>
    .table-design {
        border: 2px solid;
        border-color: darkorchid;
    }

    .cart-items-count {
        height: auto;
        width: 30px;
        background-color: rgb(174, 93, 214);
        font-weight: bolder;
    }

    .img-border {
        border: 1px solid;
        border-color: darkorchid;
    }
</style>

<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)




        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {

                if (response.removeProduct) {
                    alert("Product Removed from Cart")
                    location.reload()


                } else {

                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total
                }

            }
        })
    }
    function removeThisProduct(cartId, proId) {

        $.ajax({
            url: '/remove-product',
            data: {
                cart: cartId,
                product: proId

            },
            method: 'post',
            success: (response) => {

                if (response.removeProduct) {
                    alert("Product Removed from Cart")
                    location.reload()

                }

            }
        })
    }
</script>